@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
html {
  --swiper-theme-color: black !important;
}
body {
  color: black;
  font-size: 13px;
  font-family: 'Nanum Gothic', sans-serif;
}
img {

}
.inner {
  width: 1440px;
  margin: 0 auto;
  position: relative;
}
.inner .logo img {

}
header {
  width: 100%;
  position: relative;
  top: 0;
  z-index: 9;
  /* border: 1px solid black; */
}
header > .inner {
  /* display: flex; */
  height: 80px;
}
header .logo {
  height: 15px;
  width: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
header .main-menu {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50px;
  z-index: 1;
  align-items: center;
  /* white-space: nowrap; */
}

header .main-menu .item {
  font-weight: 700;
}
header .main-menu .item .item__name { 
  padding: 7px 7px;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 13px;
}
header .main-menu .item a { 
  display: block;
  width: 20px;
  height: 100%;
  margin: 0 10px 0 10px;
}
header .main-menu .item:hover .item__name { 
  color: #fff;
  background-color: #000;
  border-radius: 50px;
  cursor: pointer;
}
header .main-menu .item .item__contents { 
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}
header .main-menu .item:hover .item__contents {
  /* display: block; */
}
header .main-menu .item .item__contents .contents__menu { 
  height: 200px;
}
header .main-menu .item .item__contents .contents__menu > ul { 
  display: flex;
  padding: 20px 0;
}
header .main-menu .item .item__contents .contents__menu > ul > li { 
  width: 220px;
  background-color: royalblue;
  padding: 10px 10px;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li {
  padding: 5px 0;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Nanum Gothic', sans-serif;
}
header .main-menu .item .item__contents .contents__texture { 
  height: 100px;
}

header .main-menu li.blank {
  display: block;
  width: 280px;
  padding: 0;
}



/* SECTION */
/* section .container {
  position: fixed;
}

section .container .item-slider {
  background-color: red;
  width: 1920px;
  height: 600px;
  position: relative;
  margin: 0 auto;
  padding: 60px 0;
}

section .container .item-slider .btn-prev {
  position: fixed;
  top: 250px;
  left: 0;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
section .container .item-slider .btn-next {
  position: fixed;
  top: 250px;
  right: 0;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

section .container .item-slider .item-image {

} */
section .swiper {
  max-width: 1920px;
}
section .swiper .swiper-wrapper {
  position: relative;

}
section .swiper .swiper-wrapper .swiper-slide {

}
section .swiper .swiper-wrapper .swiper-slide .inner {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 12%;
  right: 0;
}
section .swiper .swiper-wrapper .swiper-slide .inner-white {
  color: white;
}
section .swiper .swiper-wrapper .swiper-slide .inner .inner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1200px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  gap: 50px;
}
section .swiper .swiper-wrapper .swiper-slide .inner .inner-text .box-title {
  font-weight: bold;
}
section .swiper .swiper-wrapper .swiper-slide .inner .inner-text .box-title .title {
  font-size: 22px;
  padding-bottom: 20px;
}
section .swiper .swiper-wrapper .swiper-slide .inner .inner-text .box-title .content {
  font-size: 48px;
  line-height: 1.2;
}
section .swiper .swiper-wrapper .swiper-slide .inner .inner-text .box-title p {
  font-size: 16px;
  margin: 30px 0 0;
  line-height: 1.8;
}
section .swiper .swiper-wrapper .swiper-slide .inner .inner-text .box-button ul {
  font-weight: 600;
  display: flex;
  gap: 30px;
  align-items: center;
}
section .swiper .swiper-wrapper .swiper-slide .inner .inner-text .box-button ul .underline{
  padding-bottom: 5px;
  border-bottom: 2px solid;
}
section .swiper .swiper-wrapper .swiper-slide .inner .inner-text .box-button ul .round {
  background-color: black;
  color: white;
  padding: 14px 23px;
  border-radius: 50px;
}
section .swiper .swiper-wrapper .swiper-slide .inner-white .inner-text .box-button ul .round{
  background-color: white;
  color: black;
}
section .swiper .slider-control {
  position: relative;
}
section .swiper .slider-control .slider-control-items {
  display: grid;
  grid-template-columns: repeat(9,130px);
  justify-content: center;
  align-items: end;
  position: absolute;
  white-space: nowrap;
  bottom: 50px;
  left: 0;
  right: 0;
  z-index: 10;
  gap: 15px;
  font-size: 13px;
  font-weight: 700;
  flex-grow: 1;
}
section .swiper .slider-control .slider-control-items li {
  padding: 0px 0px 10px 0px;
  border-bottom: 2px solid #0000004d;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  transition: border 1s ease;
}
section .swiper .slider-control .slider-control-items li:hover {
  border-bottom: 2px solid black;
}
section .promotion {
  margin: 0 60px;
  padding: 40px;
}

section .promotion .title {
  font-size: 14px;
  font-weight: bold;
}
section .promotion .title ul {
  display: flex;
  justify-content: center;
  padding: 0 24px 36px;
  gap: 40px;
}
section .promotion .title ul li {
  padding: 5px 0px;
  margin: 5px 0px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
section .promotion .title ul li:hover {
  /* text-decoration: underline; */
  border-bottom: 2px solid black;
}
section .promotion .container {
  display: grid;
  grid-template-columns: repeat(4,350px);
  grid-template-rows: repeat(2, 350px);
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}
section .promotion .container .item {
  font-size: 50px;
  background-color: #f4f4f4;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  display: block;
  height: 100%;
}
section .promotion .container .item > div {
  font-family: 'Nanum Gothic', sans-serif;
}
section .promotion .container .item .item-picture {
  max-height: 75%;
  position: relative;
  text-align: center;

}
section .promotion .container .item .name {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 15px;
}
section .promotion .container .item .serial {
  text-align: center;
  font-size: 8px;
  padding: 8px 0;
}
section .promotion .container .item .price {
  text-align: center;
  font-size: 13px;
  padding: 12px 0;
}

section .b2c .container {
  position: relative;
  color: white;
}
section .b2c .container .item-image {
  text-align: center;
}
section .b2c .container .item-title {
  position: absolute;
  top: 46px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  z-index: 10;
}
section .b2c .container .item-subtitle {
  position: absolute;
  top: 99px;
  left: 0;
  right: 0;
  text-align: center;
}
section .b2c .container .item-subtitle ul {
  display: flex;
  justify-content: center;
  top: 99px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  gap: 25px;
  line-height: 24px;
}
section .b2c .container .item-subtitle ul li { 
  cursor: pointer;
}
section .b2c .container .item-subtitle ul li:hover {
  border-bottom: 2px solid white;
}

section .b2c .container .item-content { 
  position: absolute;
  left: 0;
  right: 0;
  bottom: 45px;
  text-align: center;
  z-index: 10;
}
section .b2c .container .item-content .title {
  font-weight: bold;
  font-size: 44px;
  line-height: 1.2;
}
section .b2c .container .item-content .content {
  margin-top: 12px;
  font-size: 18px;
  line-height: 1.33;
}
section .b2c .container .item-content .btn {
  margin-top: 30px;
}
section .b2c .container .item-content .btn p {
  display: inline-block;
  padding: 13px 24px;
  color: black;
  font-weight: bold;
  font-size: 13px;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 30px;
}
section .b2c .container .item-content .btn p.etc {
  color: white;
  background-color: transparent;
  border-bottom: 2px solid;
  border-radius: 0;
  cursor: pointer;
  /* border: 1px solid red; */
  padding: 13px 0px 3px 0px;
}
section .b2c .container-black {
  color: black;
}
section .b2c .container-black .item-content .btn p {
  display: inline-block;
  padding: 13px 24px;
  color: white;
  font-weight: bold;
  font-size: 13px;
  background-color: black;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 30px;
}
section .b2c .container-black .item-content .btn p.etc {
  color: black;
  background-color: transparent;
  border-bottom: 2px solid;
  border-radius: 0;
  cursor: pointer;
  /* border: 1px solid red; */
  padding: 13px 0px 3px 0px;
}
section .b2c .container .expo-title {
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 44px;
  font-weight: bold;
  line-height: 1.4;
  z-index: 10;
}
section .b2c .container .expo-content {
  position: absolute;
  top: 300px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 16px;
  margin-top: 15px;
}
section .b2c .container .expo-content .expo-etc {
  letter-spacing: -2px;
}
section .b2c .container .expo-btn {
  position: absolute;
  top: 370px;
  left: 0;
  right: 0;
  text-align: center;
}
section .b2c .container .expo-btn p {
  display: inline-block;
  color: black;
  padding: 13px 23px;
  background-color: white;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
}


.floatingSticky .menu-list {
  width: 64px;
  height: 64px;
  background-image: url(../images/Floating_plusBG.png);
  background-size: cover;
  position: fixed;
  right: 33px;
  bottom: 36px;
  border-radius: 50px;
  z-index: 1;
}
.floatingSticky .menu-list span {
  position: relative;
  display: block;
  height: 100%;
  font-size: 0;
  background-image: url(../images/Floating__plus.png);
  background-size: cover;
  z-index: 3;
}

#to-top {
  width: 64px;
  height: 64px;
  background-color: black;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 26px;
  right: 33px;
  z-index: 15;
}
