@import url(//db.onlinewebfonts.com/c/05c77f210065b750f9ad9d606be229d2?family=SamsungOne);
@font-face {font-family: "SamsungOne"; src: url("//db.onlinewebfonts.com/t/05c77f210065b750f9ad9d606be229d2.eot"); src: url("//db.onlinewebfonts.com/t/05c77f210065b750f9ad9d606be229d2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/05c77f210065b750f9ad9d606be229d2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/05c77f210065b750f9ad9d606be229d2.woff") format("woff"), url("//db.onlinewebfonts.com/t/05c77f210065b750f9ad9d606be229d2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/05c77f210065b750f9ad9d606be229d2.svg#SamsungOne") format("svg"); }
/* COMMON
body {
  color: black;
  font-size: 12px;
}
.inner .logo img {
  display: block;
  width: 110px;
}
.inner .main-menu .menu-icons img {
  display: block;
  width: 20px;
}

header {
}
header .inner {
  width: 1440px;
  height: 80px;
  margin: 0 auto;
  position: relative;
}
header .logo {
  height: 12px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
header .main-menu {
  position: relative;
  height: 22px;
  top: 25px;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: -15px;
}
header .main-menu ul.menu {
  display: flex;
  justify-content: center;
  
}
header .main-menu ul.menu li {
  font-weight: bold;
  border: 1px solid red;
}
header .main-menu ul.menu li.item a {
  font-size: 12px;
  padding: 11px 7px;
  display: block;
  color: #000;
  position: relative;
}
header .main-menu ul.menu li.outlink {
  display: flex;
}
header .main-menu ul.menu li.outlink a {
  display: flex;
  padding: 11px 7px;
}
header .main-menu ul.menu li.outlink:hover {
  color: #fff;
  background-color: #000;
  border-radius: 20px;
}
header .main-menu ul.menu li a:hover {
  color: #fff;
  background-color: #000;
  border-radius: 50px;
}
header .main-menu ul.menu li.blank {
  width: 260px;
}
header .main-menu .menu-icons {
  display: flex;
  position: absolute;
  padding: 4px 10px;
  box-sizing: border-box;
  height: 14px;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
header .main-menu .menu-icons li {
  margin: auto 10px;
}

header .main-menu .menu .item__contents {
  height: 200px;
  background-color: orange;
} */
body {
  color: black;
  font-size: 12px;
  font-family: Dotum, 'µ¸¿ò', sans-serif;
}
img {

}
.inner {
  width: 1440px;
  margin: 0 auto;
  position: relative;
}
.inner .logo img {

}
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
  /* border: 1px solid black; */
}
header > .inner {
  /* display: flex; */
  height: 80px;
}
header .logo {
  height: 15px;
  width: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
header .main-menu {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  /* white-space: nowrap; */
}

header .main-menu .item {
  font-weight: 700;
}
header .main-menu .item .item__name { 
  padding: 7px 7px;
  font-family: Arial, sans-serif;
  font-size: 12px;
}
header .main-menu .item a { 
  display: block;
  width: 20px;
  height: 100%;
  margin: 0 10px 0 10px;
}
header .main-menu .item:hover .item__name { 
  color: #fff;
  background-color: #000;
  border-radius: 50px;
  cursor: pointer;
}
header .main-menu .item .item__contents { 
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
  transition: 0.5s;
}
header .main-menu .item:hover .item__contents {
  display: block;
}
header .main-menu .item .item__contents .contents__menu { 
  /* background-color: red; */
  height: 200px;
}
header .main-menu .item .item__contents .contents__menu > ul { 
  display: flex;
  padding: 20px 0;
}
header .main-menu .item .item__contents .contents__menu > ul > li { 
  width: 220px;
  background-color: royalblue;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li {
  padding: 5px 0;
  font-size: 20px;
  font-weight: 400;
}
header .main-menu .item .item__contents .contents__texture { 
  background-color: orange;
  height: 100px;
}

header .main-menu li.blank {
  display: block;
  width: 350px;
  padding: 0;
}
