@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
body {
  color: black;
  font-size: 13px;
  font-family: 'Nanum Gothic', sans-serif;
}
img {

}
.inner {
  width: 1440px;
  margin: 0 auto;
  position: relative;
}
.inner .logo img {

}
header {
  width: 100%;
  position: relative;
  top: 0;
  z-index: 9;
  /* border: 1px solid black; */
}
header > .inner {
  /* display: flex; */
  height: 80px;
}
header .logo {
  height: 15px;
  width: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
header .main-menu {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 50px;
  z-index: 1;
  align-items: center;
  /* white-space: nowrap; */
}

header .main-menu .item {
  font-weight: 700;
}
header .main-menu .item .item__name { 
  padding: 7px 7px;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 13px;
}
header .main-menu .item a { 
  display: block;
  width: 20px;
  height: 100%;
  margin: 0 10px 0 10px;
}
header .main-menu .item:hover .item__name { 
  color: #fff;
  background-color: #000;
  border-radius: 50px;
  cursor: pointer;
}
header .main-menu .item .item__contents { 
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}
header .main-menu .item:hover .item__contents {
  /* display: block; */
}
header .main-menu .item .item__contents .contents__menu { 
  height: 200px;
}
header .main-menu .item .item__contents .contents__menu > ul { 
  display: flex;
  padding: 20px 0;
}
header .main-menu .item .item__contents .contents__menu > ul > li { 
  width: 220px;
  background-color: royalblue;
  padding: 10px 10px;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li {
  padding: 5px 0;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Nanum Gothic', sans-serif;
}
header .main-menu .item .item__contents .contents__texture { 
  height: 100px;
}

header .main-menu li.blank {
  display: block;
  width: 300px;
  padding: 0;
}



/* SECTION */
/* section .container {
  position: fixed;
}

section .container .item-slider {
  background-color: red;
  width: 1920px;
  height: 600px;
  position: relative;
  margin: 0 auto;
  padding: 60px 0;
}

section .container .item-slider .btn-prev {
  position: fixed;
  top: 250px;
  left: 0;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
section .container .item-slider .btn-next {
  position: fixed;
  top: 250px;
  right: 0;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

section .container .item-slider .item-image {

} */
section .grid-container {
  margin: 0 60px;
  padding: 40px;
}

section .grid-container .title {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 14px;
  font-weight: bold;
}
section .grid-container .title ul {
  display: flex;
  justify-content: center;
  padding: 0 24px 36px;
}
section .grid-container .title ul li {
  padding: 0 20px;
}
section .grid-container .container {
  display: grid;
  grid-template-columns: repeat(4,350px);
  grid-template-rows: repeat(2, 350px);
  justify-content: center;
  /* align-items: center; */
  margin-top: 20px;
  gap: 20px;
}
section .grid-container .container .item {
  font-size: 50px;
  background-color: #f4f4f4;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  display: block;
  height: 100%;
}
section .grid-container .container .item > div {
  font-family: 'Nanum Gothic', sans-serif;
}
section .grid-container .container .item .item-picture {
  max-height: 75%;
  position: relative;
  text-align: center;

}
section .grid-container .container .item .name {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 15px;
}
section .grid-container .container .item .serial {
  text-align: center;
  font-size: 8px;
  padding: 8px 0;
}
section .grid-container .container .item .price {
  text-align: center;
  font-size: 13px;
  padding: 12px 0;
}